<div class="container-fluid py-5" style="background: #252529; color: white;">
	<div class="container py-5">
		<h1 class="text-center">ABOUT US</h1>
		<p class="about-text">
			Our prestigious gallery was created to source for collect,preserve,protect and distribute Ancient African works of Art and Real African Tribal Relics.Each of our pieces are a 100% genuine and are at least 50 years old,thereby qualifying them all as antiquities. We source for collect,preserve,showcase and distribute rare and exquisite works of art originating from several countries and regions across Africa through a very dedicated crew. <br><br>
			Our aim in general is to source for collect,preserve,protect,showcase and redistribute Ancient African Art and Antiquities. We equally focus on raising awareness worldwide relating to the priceless nature of Ancient African works of Art and Antiquities, and the need to jealously protect and preserve such works.
		</p>
	</div>
</div>
<div class="container py-5">
	<div class="row">
		<div class="col-md-5 mx-auto">
			<h4 class="text-center"><strong>Sea Cucumber</strong></h4>
			<p class="text-center"> Sea Cumcumber is also avaliable in large quantity and very high quality </p>
			<img style="width: 100%;" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592909370/sea_cucumber1_sgobri.jpg">
		</div>
	</div>
</div>
<div class="container-fluid py-5" style="background: #252529; color: white;">
	<div class="container">
		<h4 class="text-center py-5">COMPANY ADMINISTRATORS</h4>
		<div class="row">
			<div class="col-md-3 col-8 mx-auto">
				<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1593229795/WhatsApp_Image_2020-06-23_at_6.35.12_PM_fvq9tw.jpg" style="width: 100%;"><br><br>
				<p class="about-small">Dr KENNETH LEWIS CEO <br> Tel: +1 321 248 6820(Landline) <br>Tel: +1 321 275 1920(Mobile) <br>E-mail: contact-us@african-art.u </p>
			</div>
			<div class="col-md-2 col-8 mx-auto">
				<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592910472/TW_cyxrdw.jpg" style="width: 100%;"><br><br>
				<p class="about-small text-center">TODD WILLIAM <br> Museum Representative </p>
			</div>
			<div class="col-md-2 col-8 mx-auto">
				<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592910472/ST_txgqwa.jpg" style="width: 100%;"><br><br>
				<p class="about-small text-center">S.TIMOTHY MEEK <br> Financial Manager </p>
				<div class="mt-3">
					<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1593375622/WhatsApp_Image_2020-06-27_at_10.07.54_AM_rmxv9z.jpg" style="width: 100%;"><br><br>
					<p class="about-small text-center">Dr.Edmund Schulthess <br>Switzerland Representative <br>Tell: +41 225 481 179</p>
				</div>
			</div>
			<div class="col-md-2 col-8 mx-auto">
				
			</div>

			<div class="col-md-3">
				<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1593229795/WhatsApp_Image_2020-06-24_at_9.11.12_AM_nhrtob.jpg" style="width: 100%;"><br><br>
				<p class="about-small text-center">Rebecca Power <br>Legal counsel  </p>
				<div class="mt-3">
					<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1593375622/WhatsApp_Image_2020-06-27_at_10.08.13_AM_g1abqe.jpg" style="width: 100%;"><br><br>
					<p class="about-small text-center">Jacques Dupront <br>France Representative <br>  Tel +33 6 4469 4965</p>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="container py-5">
	<div class="row">
		<div class="col-md-8">
			<img class="img-responsive" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113596/edu_lbljyx.jpg" style="width:100%">
		</div>
		<div class="col-md-4">
			<h5 class="my-5 text-center">Location, Hours, and Admission</h5>
			<ul class="list-unstyled">
				<li>8674 St Louis Ave.Florida</li>
				<li>+1 321 248 6820(Landline)</li>
				<li>+1 321 275 1920 (Mobile)</li>
				<li>Email: contact-us@african-art.us</li>
			</ul>
			<ul class="list-unstyled">
				<li>Switzerland</li>
				<li>+41 225 481 179</li>
				<li>ed.schulthess@bluewin.ch</li>
			</ul>
			<ul class="list-unstyled">
				<li>Brazil</li>
				<li>+55 61 8264-3360</li>
				<li>Email: freeman.joost@brazilmail.com</li>
			</ul>
			<ul class="list-unstyled">
				<li>10 a.m. to 5:30 p.m. daily except December 25.</li>
				<li>Admission is free.</li>
			</ul>
		</div>
	</div>
</div>