<div class="container-fluid py-5" style="background: #252529; color: white;">
	<div class="container py-5">
		<h1 class="text-center">ABOUT US</h1>
		<p class="about-text">
			Our prestigious gallery was created to source for collect,preserve,protect and distribute Ancient African works of Art and Real African Tribal Relics.Each of our pieces are a 100% genuine and are at least 50 years old,thereby qualifying them all as antiquities. We source for collect,preserve,showcase and distribute rare and exquisite works of art originating from several countries and regions across Africa through a very dedicated crew. <br><br>
			Our aim in general is to source for collect,preserve,protect,showcase and redistribute Ancient African Art and Antiquities. We equality focus on raising awareness worldwide relating to the priceless nature of Ancient African works of Art and Antiquities, and the need to jealously protect and preserve such works.
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h4>See Cucumber</h4>
			<p> See Cumcumber is also avaliable in large quantity and very high quality </p>
			<img src=""
		</div>
	</div>
</div>