<div class="container-fluid" style="background: #384049;">
	<div class="container pt-5">
		<div class="row py-5">
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113266/slider3_eiq5jf.jpg">
					<span class="badge badge-pill">$26000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113258/art19_ilwhiq.jpg">
					<span class="badge badge-pill">$30000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113266/slider3_eiq5jf.jpg">
					<span class="badge badge-pill">$25000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113265/slider2_tkw2io.jpg">
					<span class="badge badge-pill">$28000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113265/slider1_jsnosw.jpg">
					<span class="badge badge-pill">$25000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113265/art3_yit2x5.jpg">
					<span class="badge badge-pill">$30000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113264/slider_ybnkak.jpg">
					<span class="badge badge-pill">$35000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113264/art9_ykulls.jpg">
					<span class="badge badge-pill">$27000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113264/art8_dv2vtd.jpg">
					<span class="badge badge-pill">$40000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113264/art7_pbvdlq.jpg">
					<span class="badge badge-pill">$32000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113263/art6_r8xvyn.jpg">
					<span class="badge badge-pill">$45000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113263/art5_bs0osv.jpg">
					<span class="badge badge-pill">$29000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113263/art22_cfevas.jpg">
					<span class="badge badge-pill">$25000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113263/art2_cobura.jpg">
					<span class="badge badge-pill">$37000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113263/art21_cemrtk.jpg">
					<span class="badge badge-pill">$40000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113259/art20_t28pfk.jpg">
					<span class="badge badge-pill">$31000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113258/art19_ilwhiq.jpg">
					<span class="badge badge-pill">$30000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113257/art18_kxx9up.jpg">
					<span class="badge badge-pill">$47000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113257/art1_aryarw.jpg">
					<span class="badge badge-pill">$32000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113257/art14_snm5ke.jpg">
					<span class="badge badge-pill">$50000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113257/art15_h91lsq.jpg">
					<span class="badge badge-pill">$28000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113257/art11_sgnm5p.jpg">
					<span class="badge badge-pill">$26000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113256/art12_iycus9.jpg">
					<span class="badge badge-pill">$32000</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="photo-frame mt-5">
					<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113256/art16_zcm25y.jpg">
					<span class="badge badge-pill">$25000</span>
				</div>
			</div>
		</div>
	</div>
</div>