<%= render "layouts/header" %>
<section id="promise">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 promise-picture"></div>
      <div class="col-sm-4 promise-text d-flex align-items-center">
        <div class="row">
        	<div class="col-md-2 text-center my-4">
        		<i class="fab fa-500px promise-icons text-muted"></i>
        	</div>
        	<div class="col-md-9 text-center">
        		<h3 class="text-muted">Ours Highlights</h3>
        		<p>The museum possesses the largest publicly held collection of African antic art in the USA, with roughly 8,500…</p>
        	</div>
        	<div class="col-md-2 text-center my-4">
        		<i class="fas fa-compress-arrows-alt promise-icons text-muted"></i>
        	</div>
        	<div class="col-md-7 text-center">
        		<h3 class="text-muted">Exhibitions</h3>
        		<p>Our exhibitions of the best collections of antiquity attract thousands of visitors every day.</p>
        	</div>
        </div>
      </div>
    </div>       
  </div>
</section>
