<%= render "layouts/header" %>
<section id="promise">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 promise-picture"></div>
      <div class="col-sm-4 promise-text d-flex align-items-center">
        <div class="row">
        	<div class="col-md-2 text-center my-4">
        		<i class="fab fa-500px promise-icons text-muted"></i>
        	</div>
        	<div class="col-md-9 text-center">
        		<h3 class="text-muted">Ours Highlights</h3>
        		<p>The museum possesses the largest publicly held collection of African antic art in the USA, with roughly 8,500…</p>
        	</div>
        	<div class="col-md-2 text-center my-4">
        		<i class="fas fa-compress-arrows-alt promise-icons text-muted"></i>
        	</div>
        	<div class="col-md-7 text-center">
        		<h3 class="text-muted">Exhibitions</h3>
        		<p>Our exhibitions of the best collections of antiquity attract thousands of visitors every day.</p>
        	</div>
        </div>
      </div>
    </div>       
  </div>
</section>

<div class="container my-5">
	<div class="row">
		<div class="col-md-4">
			<div class="my-card text-center py-2">
				<h3>African Mosaic</h3>
				<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113265/slider1_jsnosw.jpg" class="img-responsive" style="width: 100%;">
				<p class="mt-2">Celebrating 50 years as a Museum, In 1963, during the height of the civil rights movement, retired U.S.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="my-card text-center py-2">
				<h3>Tishman African Art</h3>
				<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113263/art22_cfevas.jpg" class="img-responsive" style="width: 100%;">
				<p class="mt-2">On view are objects from this comprehensive 525-piece collection of African art representing 20 African countries…</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="my-card text-center py-2">
				<h3>Appraisal Inquiries</h3>
				<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113256/art16_zcm25y.jpg" class="img-responsive" style="width: 100%;">
				<p class="mt-2">We generally recommend a review of photos in order to let you know if the items have sufficient value to justify doing…</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid py-5" style="background: #e2dcd7;">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1592113257/art18_kxx9up.jpg" class="img-responsive" style="width: 100%;">
			</div>
			<div class="col-md-5">
				<p><strong>Hi, and welcome to a new way of looking at art here at the Museum of African Art, YOU’VE NEVER MET A MUSEUM GUIDE LIKE ME.</strong></p>
				<p>Hi is a revolutionary in-gallery art guide that uses image recognition to scan art as you go, instantly unlocking exclusive artist videos and insider info. Connect with the story behind the stories like never before in our new Heroes exhibition.</p>
			</div>
			<div class="col-md-2"></div>

		</div>
	</div>
</div>

