<div class="container pt-5">
	<h2 class="text-muted py-5 text-center">Musuem News</h2>
	<div class="row">
		<div class="col-md-6 my-3">
			<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1593234667/horn_pbe4ej.jpg">
		</div>
		<div class="col-md-6 d-flex align-items-center">
			<div>
				<h4 class="text-muted text-center">While taking photos of the exhibit</h4>
				<p>A group of high school students walked though on a tour of the Museum.
The woman from the Museum directing the tour said that the horns on these
statutes are symbolic of the hairstyles worn by the women in Nigeria.
I’m not a scholar of African art as I assume the tour guide is, but that
explanation just didn’t seem right to me. I wonder if these horns are meant
to be just that – horns worn by some deity or ancestor.Very interesting.</p>
			</div>
		</div>
		<div class="col-md-5 my-3">
			<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1593234667/sea_cucumber4_djzhg1.jpg">
		</div>
		<div class="col-md-6 d-flex align-items-center">
			<div>
				<h4 class="text-muted text-center">Sea Cucumber Now Available In The Musuem</h4>
				<p>While sea cucumbers can be eaten fresh, they are just as often dried and reconstituted for use in a number of traditional Asian delicacies.
Certain types of sea cucumber carry a high price tag among connoisseurs, who believe that the phallic-shaped creature is an aphrodisiac.
The dried sea cucumber is often ground and sold in capsule form to treat not only sexual dysfunction but a wide range of unrelated medical conditions.
Other cultures also consume sea cucumber as part of their regional diets, including France, Portugal, and Polynesia.</p>
			</div>
		</div>
		<div class="col-md-6 my-3">
			<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1593234668/pot_ko02fb.jpg">
		</div>
		<div class="col-md-6 d-flex align-items-center">
			<div>
				<h4 class="text-muted text-center">Ceramics are a major theme in African art</h4>
				<p>Not only are they beautiful, but they are functional – used for carrying water,
cooking, and other domestic chores. The ceramic containers featured are currently
on display at the National Museum of African Art at the Smithsonian in Washington, DC.
I encourage everyone who has an opportunity to visit DC to take a trip to this wonderfully
sacred space and learn about the creative traditions of our ancestors..</p>
			</div>
		</div>

	</div>
	
</div>