<div class="container pt-5">
	<h1 class="text-muted">Musuem News</h1>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" style="width: 100%" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1593234667/horn_pbe4ej.jpg">
		</div>
		<div class="col-md-6 d-flex align-items-center">
			<div>
				<h4 class="text-muted">While taking photos of the exhibit</h4>
				<p>A group of high school students walked though on a tour of the Museum.
The woman from the Museum directing the tour said that the horns on these
statutes are symbolic of the hairstyles worn by the women in Nigeria.
I’m not a scholar of African art as I assume the tour guide is, but that
explanation just didn’t seem right to me. I wonder if these horns are meant
to be just that – horns worn by some deity or ancestor.Very interesting.</p>
			</div>
		</div>

	</div>
	
</div>