<div class="container-fluid pt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4 class="ft-title">Contact</h4>
				<ul class="list-unstyled">
					<li><i class="fas fa-home mr-3 text-muted"></i> Florida, USA</li>
					<li><i class="fas fa-envelope mr-3 text-muted"></i> contact-us@african-art.us</li>
					<li><i class="fas fa-phone mr-3 text-muted"></i> +1 321 275 1920(Mobile)</li>
					<li><i class="fas fa-phone mr-3 text-muted"></i> +1 321 248 6820(Landline)</li>
					<li><i class="fas fa-home mr-3 text-muted"></i> Switzerland</li>
					<li><i class="fas fa-phone mr-3 text-muted"></i> +41 225 481 179</li>
					<li><i class="fas fa-envelope mr-3 text-muted"></i> ed.schulthess@bluewin.ch</li>
					<li><i class="fas fa-home mr-3 text-muted"></i> Brazil</li>
					<li><i class="fas fa-phone mr-3 text-muted"></i> +55 61 8264-3360</li>
					<li><i class="fas fa-envelope mr-3 text-muted"></i> freeman.joost@brazilmail.com</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="ft-title">Delevered By</h4>
				<ul class="list-unstyled">
					<li class="mt-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985455/Epic-pic/image009_fqg3y8.png"></li>
					<li class="mt-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985455/Epic-pic/image011_k7xodc.png"></li>
					<li class="mt-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985456/Epic-pic/image013_bfghkd.png"></li>
				</ul>
			</div>
			<div class="col-md-6">
				<h4 class="ft-title">African Art Museum Collector</h4>
	          <p>ORGANISATION CEO: Dr. KENNETH LEWIS</p>
	          <p>To inspire conversations about the beauty, power, and diversity of African arts and cultures worldwide.
	          </p>
	          <p>Financial Manager: S.TIMOTHY MEEK</p>
	          <p>Museum Representative: TODD WILLIAM</p>
			</div>
			<div class="col-md-12 border-top">
				<div class="row">
					<div class="col-md-6">
						<a href="#">Terms &amp; Conditions</a>
					</div>
					<div class="col-md-6">
						&copy; 2009 Copyright African Art Museum Collector
					</div>

				</div>
			</div>
		</div>
	</div>
</div>