
<nav class="navbar navbar-expand-md fixed-top" id="navbar-wrapper-nav">
	<a style="width: 10%;" class="navbar-brand" href="/">African Art</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"><i class="fas fa-sliders-h text-white"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
  	<ul class="navbar-nav ml-auto h5">
  		<li class="nav-item">
  			<a data-turbolinks="false" class="nav-link" href="/">Home</a>
  		</li>
  		<li class="nav-item">
  			<a data-turbolinks="false" class="nav-link" href="/pages/about">Exhibitions</a>
  		</li>
  		<li class="nav-item">
  			<a data-turbolinks="false" class="nav-link" href="/pages/cfg">Education</a>
  		</li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/lifestyle">Collection</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/pages/contact">About Us</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/presentations/new">Contact Us</a>
      </li>	
      <!-- <li class="nav-item">
        <a class="nav-link modal-trigger logged-out" data-toggle="modal" data-target="#modalsignup" href="#">Sign up</a>
      </li>   -->		
  	</ul>
  </div>
</nav>

<!--  data-turbolinks="false" -->