<div class="container-fluid">
	<div class="contaner">
		<div class="row">
			<div class="col-md-3">
				<h2 class="ft-title">Contact</h2>
				<ul>
					<li><i class="fas fa-home mr-3"></i> Florida, USA</li>
					<li><i class="fas fa-envelope mr-3"></i> contact-us@african-art.us</li>
					<li><i class="fas fa-phone mr-3"></i> +1 321 275 1920(Mobile)</li>
					<li><i class="fas fa-phone mr-3"></i> +1 321 248 6820(Landline)</li>
					<li><i class="fas fa-home mr-3"></i> Switzerland</li>
					<li><i class="fas fa-phone mr-3"></i> +41 225 481 179</li>
					<li><i class="fas fa-envelope mr-3"></i> ed.schulthess@bluewin.ch</li>
					<li><i class="fas fa-home mr-3"></i> Brazil</li>
					<li><i class="fas fa-phone mr-3"></i> +55 119 8308 4683</li>
					<li><i class="fas fa-envelope mr-3"></i> freeman.joost@brazilmail.com</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h2 class="ft-title">Delevered By:</h2>
				<ul>
					<li><img src="image009.png"></li>
					<li><img src="image011.png"></li>
					<li><img src="image013.png"></li>
				</ul>
			</div>
			<div class="col-md-6">
				<h2 class="ft-title">African Art Museum Collector</h2>
	          <p>ORGANISATION CEO: Dr. KENNETH LEWIS</p>
	          <p>To inspire conversations about the beauty, power, and diversity of African arts and cultures worldwide.
	          </p>
	          <p>Financial Manager: S.TIMOTHY MEEK</p>
	          <p>Museum Representative: TODD WILLIAM</p>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<a href="#">Terms &amp; Conditions</a>
					</div>
					<div class="col-md-6">
						&copy; 2020 Copyright African Art Museum Collector
					</div>

				</div>
			</div>
		</div>
	</div>
</div>